:root{
    // === txt ===
    --txt-red: #bf403e;
    --txt-yellow: #c4b200;
    --txt-gray: #3e3e3e;
    --txt-gray-second: #676767;
    --txt-gray-light: #a7a7a7;
    --txt-green:#377927;
    --txt-black: #000;
    --txt-white: #fff;
    --txt-blue: #274f79;
    --txt-blue-dark: #001574;
    --txt-blue-dark-hover: #021ec4;

    // === bg ===
    --bg-gray:#4e4e4e;
    --bg-gray-opacity: rgba(219 219 219 68%);
    --bg-gray-light:#bababa;;
    --bg-red: #9e3432;
    --bg-green:#2b5e1f;
    --bg-black: #000;
    --bg-white: #fff;
    --bg-yellow: #c4b200;
    --bg-overlay: rgba(0 0 0 / 60%);

    // === link ===
    --link-color:#001fa8;

    // === size ===
    --header-height: 50px;

    // === z-index ===
    --z-index-alert: 100;

    // === skeleton ===
    --skeleton-color: #e8e8e8;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --skeleton-bg: rgb(219 219 219 / 69%);
}
