:root{
    --white: #fff;
    --gray: #a5a5a5;
    --gray-200: #525252;
    --green: #9dff85;
    --yellow: #feffac;
    --blue: #e3ecff;
    --blue-100: #abc4ff;
    --blue-200: #95b5ff;
    --blue-300: #709bff;
}
