.oneSelect{
    display: flex;
    gap: 10px;

    .circle{
        border: 1px solid var(--gray-200);
        border-radius: 50%;
        height: 15px;
        aspect-ratio: 1;
        position: relative;

        &::before {
            content: '';
            display: block; 
            height: 100%;
            aspect-ratio: 1;
            border-radius: 50%; 
            background: transparent; 
            position: absolute; 
            top: 0;
            left: 0;
        }
    
        &.active::before {
            background-color: var(--blue-300); 
        }
    }
}
